<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"] - Торговое предприятие "Изумруд"</title>
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script type="text/javascript" src="~/js/script.js?v=2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand"><img width="50px" src="~/images/logo.png" /> Торговое предприятие "Изумруд"</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a class="nav-link text-dark" asp-area="Manager" asp-controller="Manager" asp-action="SignUp">Регистрация</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="Manager" asp-controller="Manager" asp-action="SignIn">Авторизация</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="Manager" asp-controller="Manager" asp-action="PersonalArea">ЛК</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="About" asp-action="About">Инструкция к работе</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="col-12">
            <div class="row m-1 d-flex justify-content-center">&copy; 2022 - Trading Company - Created by Dmitry Kuzmin</div>
            <div class="row m-1"><a class="d-flex justify-content-center" href="https://github.com/tovDmitrij/Trading-company">GitHub repository</a></div>
        </div>
    </footer>


</body>
</html>