* text=auto
*.cshtml			linguist-detectable
*.sql				linguist-language=PLpgSQL
About.cshtml		linguist-detectable=false
db_insert.sql		linguist-detectable=false
db_create.sql		linguist-detectable=false
db_jobs.sql			linguist-detectable=false