@model Trading_company.Models.ManagerModel
@{
    ViewData["Title"] = "Авторизация";
}

<div class="d-flex justify-content-center">
    <div class="col-4">


        @*АВТОРИЗАЦИЯ МЕНЕДЖЕРА*@
        <form asp-controller="Manager" asp-action="SignIn">
            <div class="row m-1 bg-secondary bg-opacity-25">
                <h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
            </div>


            @*Почта*@
            <div class="row m-1 bg-secondary bg-opacity-25">
                <b class="bg-secondary bg-opacity-50 required">Почта</b>
                <div>
                    <input oninvalid="this.setCustomValidity('Пожалуйста, введите почту')" oninput="setCustomValidity('')" required class="w-100 m-1" type="email" asp-for="email" value=@ViewData["Man_email"] />
                </div>
            </div>


            @*Пароль*@
            <div class="row m-1 bg-secondary bg-opacity-25">
                <b class="bg-secondary bg-opacity-50 required">Пароль</b>
                <div>
                    <input oninvalid="this.setCustomValidity('Пожалуйста, введите пароль')" oninput="setCustomValidity('')" required minlength="8" pattern="\S+" title="Пароль должен быть не меньше 8 символов и без пробелов" class="w-100 m-1" type="password" asp-for="password" value=@ViewData["Man_password"] />
                </div>
            </div>


            <div class="row m-1 bg-secondary bg-opacity-25">
                <input type="submit" value="Подтвердить" />
            </div>
            <h4 class="row m-1 text-light bg-dark">@ViewData["Error"]</h4>
        </form>


    </div>
</div>