@model Trading_company.Models.ManagerModel
@{
    ViewData["Title"] = "Авторизация";
}
<div class="container d-flex justify-content-center">
    <div class="col-4">
        <form asp-controller="Manager" asp-action="SignIn">
            <div class="row">
                <label class="d-flex justify-content-center">@ViewData["Title"]</label>
            </div>
            <div class="row">
                <table>
                    <tr>
                        <td>
                            <label asp-for="email">Почта*</label>
                        </td>
                        <td>
                            <input type="text" asp-for="email" value=@ViewData["Man_email"] />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="password">Пароль*</label>
                        </td>
                        <td>
                            <input type="password" asp-for="password" value=@ViewData["Man_password"] />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <input type="submit" value="Подтвердить" />
            </div>
            <div class="row bg-danger">
                @ViewData["Error"]
            </div>
        </form>
    </div>
</div>