@model Trading_company.Models.ManagerModel
@{
    ViewData["Title"] = "Регистрация";
}
<form asp-controller="Manager" asp-action="SignUp">
    <p>
        <label asp-for="fullname">ФИО*</label>
        <input type="text" asp-for="fullname" />
    </p>
    <p>
        <label asp-for="email">Почта*</label>
        <input type="text" asp-for="email" />
    </p>
    <p>
        <label asp-for="password">Пароль*</label>
        <input type="password" asp-for="password" />
    </p>
    <p>
        <label asp-for="percent">%</label>
        <input type="number" asp-for="percent" />
    </p>
    <p>
        <label asp-for="parent_id">Идентификатор руководителя</label>
        <input type="number" asp-for="parent_id" />
    </p>
    <p>
        <input type="submit" value="Подтвердить" />
    </p>
</form>