@model Trading_company.Models.ContractModel
@{
    ViewData["Title"] = "Новый контракт";
}
<div class="container d-flex justify-content-center">
    <div class="col-4">
        <form asp-controller="Contract" asp-action="New">
            <div class="row">
                <label class="d-flex justify-content-center">@ViewData["Title"]</label>
            </div>
            <div class="row">
                <table>
                    <tr>
                        <td>
                            <label>ФИО + ID контрагента*</label>
                        </td>
                        <td>
                            <input type="text" asp-for="ContrFullName" value=@ViewData["Contract_ContrFullName"] />
                        </td>
                        <td>
                            #<input type="number" asp-for="contr_id" value=@ViewData["Contract_ContrID"] />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Дата окончания*</label>
                        </td>
                        <td>
                            <input type="date" asp-for="dayto" value=@ViewData["Contract_Date"] />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <input type="submit" value="Подтвердить" />
            </div>
            <div class="row bg-danger">
                @ViewData["Error"]
            </div>
        </form>
    </div>
</div>