@{
    ViewData["Title"] = "Инструкция к работе";
}
<div class="col-12">
    <div class="row m-1 bg-secondary bg-opacity-25">
        <h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
    </div>

    <div class="row m-3 bg-light">
        <h2 class="display-6 text-end">Здравствуйте, пользователь!</h2>
        <p class="fs-5">Проект "Trading-company" имитирует работу менеджеров на торговом предприятии. На данный момент времени реализован следующий функционал:</p>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Регистрация менеджеров</h2>

        <div class="col-6">
            <p class="fs-5">Прежде чем начать работу на предприятии, новому менеджеру необходимо заполнить форму регистрации, где нужно указать:</p>
            <ol class="fs-5">
                <li>Полное ФИО, соблюдая паттерн написания (напр. "Иванов Иван Иванович");</li>
                <li>Незанятую никем почту в корректном формате (напр. "someName@someDomain.com");</li>
                <li>Пароль (не менее 8-ми символов);</li>
                <li>Желаемый зарабатываемый процент с продаж в пределах от 1 до 50-ти;</li>
                <li>Желаемый руководитель из числа тех менеджеров, которые ещё могут по себя подписать ещё одного менеджера (за одним руководителем может стоять не более 3-х менеджеров!). Однако данное поле для выбора необязательно и можно работать вообще без руководителя.</li>
            </ol>
            <p class="fs-5">Стоит отметить, что в приложении есть сессии, что означает, что чтобы менеджеру вернуться обратно к своему аккаунту, ему необходимо будет заполнить форму авторизации, указав свой логин (почту) и пароль.</p>
            <p class="fs-5">После регистрации или авторизации менеджера перенаправляет в личный кабинет.</p>
        </div>

        <div class="col-6">
            <div class="row m-2">
                <img height="100%" class="col-12" src="/images/forInstruction/reg.jpg" />
            </div>
            <div class="row m-2">
                <img height="100%" class="col-12" src="/images/forInstruction/auth.jpg" />
            </div>
        </div>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Личный кабинет</h2>
        <div class="col-6">
            <p class="fs-5">В ЛК менеджера отображается информация об аккаунте и действия, которые можно совершить (некоторые будут подробно рассмотрены в след. разделах), а именно:</p>
            <ol class="fs-5">
                <li>Выйти из сессии и удалить аккаунт;</li>
                <li>Подписать контракт с контрагентом;</li>
                <li>Купить или продать товары;</li>
                <li>Посмотреть список контрактов менеджера;</li>
                <li>Посмотреть остатки товаров на складе на сегодняшний момент;</li>
                <li>Посмотреть статистику транзакций менеджера;</li>
                <li>Посмотреть курс валют;</li>
                <li>Посмотреть список цен на товары.</li>
            </ol>
        </div>

        <div class="col-6">
            <div class="row m-2">
                <img height="100%" class="col-12" src="/images/forInstruction/persArea.jpg" />
            </div>
        </div>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Подписание контрактов</h2>
        <div class="col-6">
            <p class="fs-5">Прежде чем менеджер сможет совершать транзакции, ему необходимо иметь хотя бы один действующий контракт с одним из контрагентов (вся торговля осуществляется через них).</p>
            <p class="fs-5">Для этого в форме подписания нового контракта необходимо указать желаемого контрагента из списка контрагентов и дату окончания, причём:</p>
            <ol class="fs-5">
                <li>С контрагентом может быть ТОЛЬКО ОДИН действующий контракт;</li>
                <li>Краткосрочных контрактов не предприятии не существует: контракт должен оформляться МИНИМУМ на неделю;</li>
                <li>С контрагентом будет невозможно подписать контракт, если на заданную дату его банковский аккаунт будет просрочен.</li>
            </ol>
        </div>

        <div class="col-6">
            <div class="row m-2">
                <img height="100%" class="col-12" src="/images/forInstruction/newContract.jpg" />
            </div>
        </div>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Совершение транзакций</h2>
        <div class="row m-2 justify-content-center">
            <img class="col-8" src="/images/forInstruction/doingTransaction.jpg" />
        </div>

        <div class="row">
            <div class="col-12">
                <p class="fs-5">После подписания договора, менеджер сможет совершать транзакции (покупка/продажа). Для этого необходимо в соответствующей форме заполнить все необходимые поля, причём менеджер перед подтверждением транзакции может предварительно напечатать чек, чтобы посмотреть сколько уйдёт у.е. на её совершение.</p>
                <p class="fs-5">Здесь стоит отметить несколько моментов:</p>
                <ol class="fs-5">
                    <li>Потому как предприятие работает на территории РФ, то все цены переводятся в рубли по текущему курсу;</li>
                    <li>Если менеджер планирует совершить транзакцию через несколько дней, чек будет показывать цену по сегодняшнему курсу, потому как курсы валют автоматически обновляются раз в сутки и мы не можем даже предположить, какой курс валюты будет, например, завтра;</li>
                    <li>Потому как ценники у всех товаров автоматически генерируются раз в неделю по воскресеньям, то невозможно будет отложить транзакцию, например, на следующею неделю из-за неизвестной цены на товар;</li>
                    <li>Невозможно будет совершить отложенную транзакцию, если на указанную дату контракт с контрагентом станет недействительным;</li>
                    <li>При совершении продажи, в т.ч. отложенной, учитывается текущее и/или планируемое в будущем количество заданного товара на складе.</li>
                </ol>
            </div>
        </div>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Просмотр списка контрактов</h2>
        <div class="row m-2 justify-content-center">
            <img class="col-8" src="/images/forInstruction/contractList.jpg" />
        </div>

        <div class="row">
            <div class="col-12">
                <p class="fs-5">Менеджер на соответствующей странице может посмотреть список всех своих контрактов с контрагентами, причём как действующие на данный момент, так и уже просроченные.</p>
                <p class="fs-5">Действия, к-рые может совершить менеджер:</p>
                <ol class="fs-5">
                    <li>Отфильтровать список контрактов по ФИО и/или идентификатору контрагента;</li>
                    <li>Отфильтровать список по дате окончания, т.о. получив новый список, но в к-ром есть только действующие контракты;</li>
                    <li>
                        Сдвинуть срок окончания контракта, причём:
                        <ol class="fs-5">
                            <li>Дату можно сдвинуть как на несколько дней назад, так и вперёд;</li>
                            <li>По прежнему действует ограничение, что контракт должен длиться НЕ МЕНЕЕ, чем неделю;</li>
                            <li>Проверяется: есть ли отложенные транзакции и повлияет ли на их существование новая дата завершения контракта;</li>
                            <li>Проверяется: будет ли на новой дате у контрагента действующий банковский аккаунт.</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Склад товаров</h2>
        <div class="row m-2 justify-content-center">
            <img class="col-8" src="/images/forInstruction/warehouse.jpg" />
        </div>

        <div class="row">
            <div class="col-12">
                <p class="fs-5">На складе можно посмотреть: какого и в каком количестве на сегодняшний момент присутствует товара по категориям, причём как в виде списка, так и в виде круговой диаграммы. Список можно отфильтровать по наименованию и/или идентификатору товара или категории товара.</p>
            </div>
        </div>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Список транзакций</h2>
        <div class="row m-2 justify-content-center">
            <img class="col-8" src="/images/forInstruction/transactionList.jpg" />
        </div>

        <div class="row">
            <div class="col-12">
                <p class="fs-5">В списке транзакций (покупка/продажа) менеджера можно посмотреть как завершённые, так и запланированные транзакции.</p>
                <p class="fs-5">Пользователь на данной странице может совершить следующие действия:</p>
                <ol class="fs-5">
                    <li>Отфильтровать список по наименованию и/или идентификатору товара;</li>
                    <li>Отфильтровать список по идентификатору контракта;</li>
                    <li>Отфильтровать список по дате транзакций, т.о. получив список запланированных транзакций;</li>
                    <li>Отменить запланированную транзакцию, причём проверяется:</li>
                    <ol class="fs-5">
                        <li>Повлияет ли отменённая транзакция на будущие транзакции. Например, очевидно, что если будет отменена покупка, то в будущем я не смогу продать того, чего нет.</li>
                    </ol>
                </ol>
            </div>
        </div>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Курс валют</h2>
        <div class="row m-2 justify-content-center">
            <img class="col-9" src="/images/forInstruction/courceList.jpg" />
        </div>

        <div class="row">
            <div class="col-12">
                <p class="fs-5">Менеджер на соответствующей странице может посмотреть курс выбранной валюты по отношению к рублю в виде списка. Причём в таблицу отбираются записи за последние 14 дней.</p>
            </div>
        </div>
    </div>


    <div class="row m-3 bg-light">
        <h2 class="display-6 text-center">Список ценников</h2>
        <div class="row m-2 justify-content-center">
            <img class="col-9" src="/images/forInstruction/priceList.jpg" />
        </div>

        <div class="row">
            <div class="col-12">
                <p class="fs-5">Менеджер также может посмотреть список ценников для конкретного товара, причём здесь также стоит ограничение на количество записей: отбираются ценники за последний месяц.</p>
            </div>
        </div>
    </div>
</div>